body {
    background-image: linear-gradient(
        to right,
        #e9596c,
        #ed6a68,
        #f07c67,
        #f18c68,
        #f19c6c,
        #f6a178,
        #fba784,
        #ffad90,
        #ffada6,
        #ffb0be,
        #ffb6d5,
        #ffbeeb
    );
    color: white;
    font-family: 'Lato', sans-serif;
}

header {
    border-bottom: 2px solid white;
}

footer {
    border-top: 2px solid white;
}
